<h1>Hr-Mitra</h1>

<%= link_to 'About_Us', about_path, target: '_blank', style: 'color:red;' %>
<%= link_to 'Contact Us', contact_path, target: '_blank', style: 'color:red;' %>
<%= link_to 'Privacy Policy', privacy_policy_path, target: '_blank', style: 'color:red;' %>
<%= link_to 'Terms and Conditions', terms_and_conditions_path, target: '_blank', style: 'color:red;' %>
<%= link_to 'Employee Details', employees_path, target: '_blank', style: 'color:green;' %>
<%= link_to 'Document Details', documents_path, target: '_blank', style: 'color:green;' %>

